The end result of this exercise should be a file named acquire.py.

Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [1]:
import pandas as pd
import requests

In [4]:
url = 'https://python.zgulde.net/api/v1/items'
response = requests.get(url)
response

In [11]:
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [14]:
items = pd.DataFrame(data['payload']['items'])
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [15]:
items.shape

(20, 6)

In [17]:
base_url = 'https://python.zgulde.net'

In [18]:
response2 = requests.get(base_url + data['payload']['next_page'])

In [21]:
data2 = response2.json()
items2 = pd.DataFrame(data2['payload']['items'])
items2.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
1,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
2,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
3,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
4,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428

In [24]:
items = pd.concat([items, items2]).reset_index()
items.head()

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1.0,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,2.0,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,3.0,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,4.0,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [25]:
response3 = requests.get(base_url + data2['payload']['next_page'])
data3 = response3.json()
items3 = pd.DataFrame(data3['payload']['items'])
items3.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
1,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
2,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
3,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
4,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237

In [ ]:
Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

Save the data in your files to local csv files so that it will be faster to access in the future.

Combine the data from your three separate dataframes into one large dataframe.

Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv