In [8]:
import env
import sweetviz as vz
import pandas as pd

In [4]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [6]:
get_connection('superstore_db')
query = '''SELECT * FROM orders
            left join customers
            using (`Customer ID`)
            left join categories
            using (`Category ID`)
            left join products
            using(`Product ID`)
            left join regions
            using (`Region ID`)
'''

In [10]:
df = pd.read_sql(query, get_connection('superstore_db'))

In [11]:
df.head()

,Region ID,Product ID,Category ID,Customer ID,Order ID,Order Date,Ship Date,Ship Mode,Segment,Country,...,Postal Code,Sales,Quantity,Discount,Profit,Customer Name,Category,Sub-Category,Product Name,Region Name
0,1,FUR-BO-10001798,1,CG-12520,CA-2016-152156,2016-11-08,2016-11-11,Second Class,Consumer,United States,...,42420.0,261.9600,2.0,0.00,41.9136,Claire Gute,Furniture,Bookcases,Bush Somerset Collection Bookcase,South
1,1,FUR-CH-10000454,2,CG-12520,CA-2016-152156,2016-11-08,2016-11-11,Second Class,Consumer,United States,...,42420.0,731.9400,3.0,0.00,219.5820,Claire Gute,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",South
2,2,OFF-LA-10000240,3,DV-13045,CA-2016-138688,2016-06-12,2016-06-16,Second Class,Corporate,United States,...,90036.0,14.6200,2.0,0.00,6.8714,Darrin Van Huff,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,West
3,1,FUR-TA-10000577,4,SO-20335,US-2015-108966,2015-10-11,2015-10-18,Standard Class,Consumer,United States,...,33311.0,957.5775,5.0,0.45,-383.0310,Sean O'Donnell,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,South
4,1,OFF-ST-10000760,5,SO-20335,US-2015-108966,2015-10-11,2015-10-18,Standard Class,Consumer,United States,...,33311.0,22.3680,2.0,0.20,2.5164,Sean O'Donnell,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,South

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region ID      1734 non-null   int64
 1   Product ID     1734 non-null   object
 2   Category ID    1734 non-null   int64
 3   Customer ID    1734 non-null   object
 4   Order ID       1734 non-null   object
 5   Order Date     1734 non-null   object
 6   Ship Date      1734 non-null   object
 7   Ship Mode      1734 non-null   object
 8   Segment        1734 non-null   object
 9   Country        1734 non-null   object
 10  City           1734 non-null   object
 11  State          1734 non-null   object
 12  Postal Code    1734 non-null   float64
 13  Sales          1734 non-null   float64
 14  Quantity       1734 non-null   float64
 15  Discount       1734 non-null   float64
 16  Profit         1734 non-null   float64
 17  Customer Name  1734 non-null   object
 18  Category       1734 non-null   object
 19  Sub-Category   1734 non-null   object
 20  Product Name   1734 non-null   object
 21  Region Name    1734 non-null   object
dtypes: float64(5), int64(2), object(15)
memory usage: 298.2+ KB

In [13]:
analyze_report = vz.analyze(df)

                                             |      | [  0%]   00:00 -> (? left)

In [14]:
analyze_report.show_html('output.html', open_browser=True)

Report output.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.